* {
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0 auto;
  max-width: 599px;
  flex-flow: wrap row;
}
header {
  width: 100%;
  min-height: 100px;
  background-color: blue;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
}

header div p {
  width: 100%;
  background-color: orange;
  padding: 10px;
  background-color: orange;
  margin: 5px;
}

#box0 {
  width: 100%;
  height: auto;
  background-color: rgb(184, 184, 184);
  padding: 10px;
  margin-top: 15px;
}
#box1 {
  width: 100%;
  height: auto;
  background-color: rgb(244, 220, 174);
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}
#box1 img {
  max-width: 100%;
}
#box2 img {
  max-width: 100%;
}
#box2 {
  width: 100%;
  height: auto;
  background-color: rgb(249, 204, 249);
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}
footer {
  width: 100%;
  height: auto;
  background-color: rgb(137, 248, 137);
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 100%;
  }
  header {
    max-width: 100%;
  }
  #box1 {
    width: 49%;
    margin-right: 2%;
  }
  #box2 {
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 100%;
  }
  header {
    max-width: 100%;
  }
  #box0 {
    width: 46%;
    margin-right: 2%;
    order: 2;
  }
  #box1 {
    width: 25%;
    margin-right: 2%;
    order: 1;
  }
  #box2 {
    width: 25%;
    order: 3;
  }
  footer {
    order: 4;
  }
}
